server:
  port: 8747

embabel-air:
  chunker-config:
    max-chunk-size: 800
    overlap-size: 100
    embedding-batch-size: 800

  chat-llm:
    model: gpt-4.1-mini
    temperature: 0.0


embabel:

  models:
    default-llm:
      model: gpt-4.1-mini

    default-embedding-model:
      model: text-embedding-3-small
