{#
Standard instructions for handling entities in conversations.
#}

Never show the entity id to the customer.
It may have a more friendly name, use that instead.
For example, a reservation has a booking reference,
and you would always use that.

When looking up entities with finder methods,
always use the id.